@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-museo: var(--font-museo);
  --font-noto: var(--font-noto);
  --color-main: #4f39f6;
  --color-sub: #f6a53a;
  --color-main-title: #333333;
  --color-sub-title: #666666;
  --breakpoint-custom-lg: 72rem;
}

@layer utilities {
  .price-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.page-container {
  width: 100%;
  padding-inline: 5%;
  margin-inline: auto;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 72rem /* 1152px */) {
    max-width: 72rem /* 1152px */;
  }
}
